# for docker compose, you need to add connection_attempts because
# the rabbitmq service starts a little bit after people counting service 

RABBITMQ_URL=amqp://rabbitmq:5672?socket_timeout=10&connection_attempts=5&retry_delay=3
LOGGING_CONFIG_FILE=logging-dev.conf